name: first
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: lint run
        uses: actions/checkout@v3
      - name: install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: install dependencies
        run: npm install
  deploy:
      needs: test
      runs-on: ubuntu-latest
      steps:
        - name: lint run
          uses: actions/checkout@v3
        - name: install nodejs
          uses: actions/setup-node@v3
          with:
              node-version: 18
        - name: install dependencies
          run: npm install
        - name: build sceipts
          run: echo "script builds is done"    
